autouri==0.1.3
attrs==19.3.0
caper==0.8.2.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==3.2
idna==2.8
importlib-metadata==1.4.0
jsonschema==3.2.0
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pycparser==2.19
pyhocon==0.3.54
pyOpenSSL==19.1.0
pyparsing==2.4.6
pysam==0.15.4
pyrsistent==0.15.7
pytest==5.4.0
git+https://github.com/LUMC/pytest-workflow.git@4cbc3bb6b9840daf#egg=pytest_workflow
PyYAML==5.3
requests==2.22.0
six==1.14.0
urllib3==1.25.7
wcwidth==0.1.8
zipp==1.0.0
