*.bgz filter=lfs diff=lfs merge=lfs -text
*.bgz.tbi filter=lfs diff=lfs merge=lfs -text
*.bw filter=lfs diff=lfs merge=lfs -text
*.bam filter=lfs diff=lfs merge=lfs -text
*.fastq.gz filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
*.starch filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.fa.pac filter=lfs diff=lfs merge=lfs -text
*.fa.bwt filter=lfs diff=lfs merge=lfs -text
*.fa.sa filter=lfs diff=lfs merge=lfs -text
